.ad-third {
  margin: 0;

  &__container {
    padding: 0;
  }

  &__wrapper {
    @include card();
    padding-top: 210px;
    background-image: url('../img/catalog/ad/ad-lg.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-color: $background-dark-color;
  }

  &__title {
    margin: 0;
    font-family: $third-family;
    font-size: 24px;
    font-weight: 900;
    color: $ad-title-color;
  }

  &__desc {
    max-width: 180px;
    font-size: 16px;
    font-weight: 400;
    color: $text-grey-color;
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: $primary-color;
    transition: color 0.3s;

    &::after {
      content: '';
      position: absolute;
      right: 32px;
      bottom: -2px;
      left: 0;
      height: 2px;
      background-color: $primary-color;
      opacity: 0;
      transition: color 0.3s, opacity 0.3s;
    }

    .icon-container {
      padding: 0 8px;
      border: 2px solid $primary-color;
      border-radius: 50%;
      transition: border 0.3s, background-color 0.3s;
    }

    .icon-arrow {
      transform: translateY(2px);
    }

    &:focus {
      outline: none;

      &::after {
        opacity: 1;
      }

      .icon-container {
        background-color: $primary-light-color;
      }

      .icon-arrow {
        stroke: $text-light-color;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          opacity: 1;
        }
  
        .icon-container {
          background-color: $primary-color;
        }
  
        .icon-arrow {
          stroke: $text-light-color;
        }
      }
    }

    &:active {
      color: $primary-dark-color;

      &::after {
        opacity: 1;
        background-color: $primary-dark-color;
      }

      .icon-container {
        border: 2px solid $primary-dark-color;
        background-color: $primary-dark-color;
      }

      .icon-arrow {
        stroke: $text-light-color;
      }
    }
  }

  @media (max-width: 1366px) {
    display: none;
  }
}
