.catalog {
  &__wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: $gap;
    grid-template-areas:
      "aside title"
      "aside section";
    padding-top: 33px;
  }

  &__aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;

    @media (max-width: 1366px) {
      padding-bottom: 0;
    }
  }

  &__title {
    grid-area: title;
    align-self: flex-start;
    margin: 0;
    font-size: 24px;
  }

  &__section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
    margin-bottom: $gap;
  }

  @media (max-width: 1366px) {
    &__wrapper {
      grid-template-columns: 1fr;
      gap: $gap-sm;
      grid-template-areas:
        "title"
        "aside"
        "section";
      padding-top: 32px;
    }

    &__title {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 992px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {

      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9) {
        display: none;
      }
    }
  }

  @media (max-width: 576px) {
    &__wrapper {
      padding-top: 0;
    }    

    &__list {
      gap: $gap-sm;
    }
  }
}