$font-family: "Open Sans", sans-serif;
$second-family: "Muller", sans-serif;
$third-family: "Playfair Display", sans-serif;

$primary-color: #a65cf0;
$primary-light-color: #c998fb;
$primary-lighter-color: #f8efff;
$primary-dark-color: #7033ac;

$secondary-color: #ff862f;
$secondary-light-color: #ffbd59;
$secondary-lighter-color: #fff5d1;
$secondary-dark-color: #bb370e;

$text-light-color: #fff;
$text-dark-color: #333;
$text-grey-color: #999;
$text-dark-grey-color: #666;

$background-grey-color: #f6f6f6;
$background-dark-grey-color: #eaeaea;

$ad-title-color: #d5b986;

$gap: 30px;
$gap-sm: 15px;
