.primary-btn {
  @include btn();
  padding: 22px 47px;
  border: 2px solid $primary-color;
  font-weight: 700;
  color: $text-light-color;
  background-color: $primary-color;

  &:focus {
    border: 2px solid $primary-dark-color;
    outline: none;
    background-color: $primary-light-color;
  }

  @media (any-hover: hover) {
    &:hover {
      border: 2px solid $primary-light-color;
      background-color: $primary-light-color;

    }
  }

  &:active {
    border: 2px solid $primary-dark-color;
    background-color: $primary-dark-color;
  }

  &:disabled {
    border: 2px solid $background-dark-grey-color;
    color: $text-grey-color;
    background-color: $background-dark-grey-color;
  }
}

.outline-btn {
  @include btn();
  padding: 19px 35px;
  font-weight: 600;
  color: $primary-color;

  &:focus {
    outline: none;
    color: $text-light-color;
    background-color: $primary-light-color;
  }

  @media (any-hover: hover) {
    &:hover {
      color: $text-light-color;
      background-color: $primary-color;
    }
  }

  &:active {
    border: 2px solid $primary-dark-color;
    background-color: $primary-dark-color;
  }
}

.link-btn {
  position: relative;
  padding: 8px 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: $primary-color;
  transition: color 0.3s;

  &::after {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 0;
    left: 30px;
    height: 2px;
    background-color: $primary-color;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.3s;
  }

  &:focus {
    outline: none;
    color: $primary-light-color;

    &::after {
      background-color: $primary-light-color;
      opacity: 1;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      color: $primary-color;

      &::after {
        background-color: $primary-color;
        opacity: 1;
      }
    }
  }

  &:active {
    color: $primary-dark-color;

      &::after {
        background-color: $primary-dark-color;
        opacity: 1;
      }
  }
}