.primary-btn {
  @include btn();
  padding: 22px 47px;
  border: 2px solid $primary-color;
  font-weight: 700;
  color: $text-light-color;
  background-color: $primary-color;

  &:focus {
    border: 2px solid $primary-dark-color;
    outline: none;
    background-color: $primary-light-color;
  }

  @media (any-hover: hover) {
    &:hover {
      border: 2px solid $primary-light-color;
      background-color: $primary-light-color;

    }
  }

  &:active {
    border: 2px solid $primary-dark-color;
    background-color: $primary-dark-color;
  }

  &:disabled {
    border: 2px solid $background-dark-grey-color;
    color: $text-grey-color;
    background-color: $background-dark-grey-color;
  }
}

.outline-btn {
  @include btn();
  padding: 19px 35px;
  font-weight: 600;
  color: $primary-color;

  &:focus {
    outline: none;
    color: $text-light-color;
    background-color: $primary-light-color;
  }

  @media (any-hover: hover) {
    &:hover {
      color: $text-light-color;
      background-color: $primary-color;
    }
  }

  &:active {
    border: 2px solid $primary-dark-color;
    background-color: $primary-dark-color;
  }
}