.filter {
  &__container {
    padding: 0;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    color: $text-dark-color;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap-sm;
  }

  &__fieldset {
    padding: 0;
    border: none;
  }

  &__legend {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    color: $text-dark-grey-color;
  }

  &__input {
    margin-bottom: 12px;
  }

  .custom-checkbox {
    padding-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: $text-dark-grey-color;
    line-height: 130%;
  }

  .custom-checkbox::before {
    width: 16px;
    height: 16px;
  }

  .custom-checkbox::after {
    width: 16px;
    height: 16px;
  }

  &__input_first {
    margin-right: $gap-sm;
  }

  .input_number {
    display: inline-block;
    width: calc((100% - $gap-sm) / 2);

    .input__label {
      display: inline-block;
      width: 25%;
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
      color: $text-dark-grey-color;
    }

    .input__control_number {
      display: inline-block;
      width: 75%;
    }
  }

  @media (max-width: 1366px) {
    &__form {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "colors categories price price . .";
    }

    &__title {
      display: none;
    }

    &__fieldset_colors {
      grid-area: colors;
    }

    &__fieldset_category {
      grid-area: categories;
      transform: translateX(15px);
    }

    &__fieldset_price {
      grid-area: price;
      transform: translateX(30px);
    }
  }

  @media (max-width: 992px) {
    &__form {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "colors categories price price";
    }
  }

  @media (max-width: 767px) {
    &__form {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "colors categories"
        "price price";
      row-gap: 0;
    }

    &__fieldset_category {
      transform: translateX(5px);
    }

    &__fieldset_price {
      transform: translateX(0);
    }
  }
}
