.product {
  @include card-2();

  &__rating {
    @include rating();
  }

  .star-decoration {
    background-image: url('../img/sprite.svg#star');
  }

  &__pic {
    margin-bottom: 10px;
  }

  &__img {
    height: 115px;
    object-fit: contain;
  }

  @media (max-width: 576px) {
    &__pic {
      margin-bottom: 2px;
    }

    &__img {
      height: 90px;
    }
  }
}
