.ad_second {
  @include ad();
  background-image: url('../img/home/ad/ad-2-lg.webp');

  .ad__wrapper {
    padding: 155px 0 150px;
  }

  .ad__title {
    margin: 0;
    margin-bottom: 5px;
    font-family: $third-family;
    font-size: 60px;
    font-weight: 900;
    line-height: 120%;
    color: $ad-title-color;
  }

  .ad__desc {
    margin: 0;
    margin-bottom: 50px;
    max-width: 510px;
    font-size: 48px;
    font-weight: 400;
    color: $text-light-color;
  }

  .ad__btn {
    padding: 20px 30px;
  }

  @media (max-width: 1366px) {
    background-image: url('../img/home/ad/ad-2-md.webp');
  }

  @media (max-width: 992px) {
    background-image: url('../img/home/ad/ad-2-sm.webp');
  }

  @media (max-width: 576px) {
    margin-bottom: 163px;
    background-image: url('../img/home/ad/ad-2-xs.webp');

    .ad__wrapper {
      position: relative;
      padding: 30px 80px 60px 0;
    }

    .ad__title {
      font-size: 24px;
    }

    .ad__desc {
      font-size: 16px;
    }

    .ad__btn {
      position: absolute;
      right: 0;
      bottom: -95px;
      left: 0;
    }
  }
}