.ad_first {
    @include ad();
    background-image: url('../img/home/ad/ad-1-lg.webp');

    .ad__wrapper {
      @include adWrapper();
    }

    .ad__title {
        margin: 0;
        margin-bottom: 50px;
        max-width: 500px;
        font-size: 48px;
        font-weight: 700;
        color: $text-grey-color;
    }
}
