.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 135px;
}

.filter {
    &__container {
        padding: 0;
    }

    &__title {
        font-size: 18px;
        font-weight: 400;
        line-height: 130%;
        color: $text-dark-color;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
    }

    &__fieldset {
        padding: 0;
        border: none;
    }

    &__legend {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;
        color: $text-dark-grey-color;
    }

    .custom-checkbox {
        padding-left: 20px;
        font-size: 16px;
        font-weight: 400;
        color: $text-dark-grey-color;
        line-height: 130%;
    }

    .custom-checkbox::before {
        width: 16px;
        height: 16px;
    }

    .custom-checkbox::after {
        width: 16px;
        height: 16px;
    }

    &__input_first {
        margin-right: $gap-sm;
    }

    .input_number {
        display: inline-block;
        width: calc((100% - $gap-sm) / 2);

        .input__label {
            display: inline-block;
            width: 25%;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
            color: $text-dark-grey-color;
        }

        .input__control_number {
            display: inline-block;
            width: 75%;
        }
    }
}