.categories {
  margin-bottom: 75px;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 522px 405px;
    gap: 30px;
    row-gap: 15px;
    grid-template-areas:
      "categories-item-1 categories-item-1 categories-item-1 categories-item-2 categories-item-2 categories-item-2"
      "categories-item-3 categories-item-3 categories-item-4 categories-item-4 categories-item-5 categories-item-5";
  }

  &__item_1 {
    grid-area: categories-item-1;
  }

  &__item_2 {
    grid-area: categories-item-2;
  }

  &__item_3 {
    grid-area: categories-item-3;
  }

  &__item_4 {
    grid-area: categories-item-4;
  }

  &__item_5 {
    grid-area: categories-item-5;
  }
}

.categories__item {
  &:nth-child(1),
  &:nth-child(2) {
    .category__img {
      height: 315px;
    }
  }

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    .category__img {
      height: 215px;
    }
  }
}

.category {
  @include card();
  padding-top: 30px;

  &__list {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    color: $text-grey-color;
    transition: color 0.3s, background-color 0.3s;

    &:focus {
      color: $primary-color;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $primary-color;
        background-color: $primary-light-color;
      }
    }

    &:active {
      color: $primary-dark-color;
      background-color: transparent;
    }
  }

  &__title {
    @include cardTitle();
  }

  &__pic {
    margin-bottom: 25px;
    transform: translateX(-30px);
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: $primary-color;
    transition: color 0.3s;

    &::after {
      content: '';
      position: absolute;
      right: 32px;
      bottom: -2px;
      left: 0;
      height: 2px;
      background-color: $primary-color;
      opacity: 0;
      transition: color 0.3s, opacity 0.3s;
    }

    .circle,
    .path {
      transition: fill 0.3s, stroke 0.3s;
    }

    &:focus {
      &::after {
        opacity: 1;
      }

      .circle {
        fill: $primary-color;
        stroke: $primary-color;
      }

      .path {
        stroke: $text-light-color;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          opacity: 1;
        }

        .circle {
          fill: $primary-light-color;
          stroke: $primary-color;
        }

        .path {
          stroke: $text-light-color;
        }
      }
    }

    &:active {
      color: $primary-dark-color;

      &::after {
        background-color: $primary-dark-color;
        opacity: 1;
      }

      .circle {
        fill: $primary-dark-color;
        stroke: $primary-dark-color;
      }

      .path {
        stroke: $text-light-color;
      }
    }
  }
}