.footer {
  position: relative;
  background-color: $background-dark-grey-color;

  &::after {
    content: 'SDP®   2011-2021';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    color: $text-grey-color;
    text-align: center;
    background-color: $background-grey-color;
  }

  &__wrapper {
    display: flex;
    padding: 30px 0 60px;
  }

  &__column_brand {
    margin-right: auto;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__socials {
    display: flex;
    gap: 15px;
  }

  .nav {
    &__list {
      display: grid;
      gap: 100px;
      grid-template-columns: repeat(4, 1fr);
    }

    &__title {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: $text-dark-color;
    }

    &__link {
      font-size: 14px;
      font-weight: 400;
      color: $text-grey-color;

      &:focus {
        color: $primary-color;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $primary-color;
          background-color: $primary-light-color;
        }
      }

      &:active {
        color: $primary-dark-color;
        background-color: transparent;
      }
    }
  }

}
