.rated {
  &__list {
    @include cardList();
  }
}

.product {
  @include card();
  padding-top: 60px;

  &__rating {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px 20px 10px 40px;
    color: $secondary-color;
    background-size: 20%;
    background-position: 30% 40%;
    background-repeat: no-repeat;
  }

  .star-decoration {
    background-image: url('../img/sprite.svg#star');
  }

  &__price {
    @include cardPrice();
  }

  &__pic {
    margin-bottom: 10px;
  }

  &__img {
    height: 100px;
  }

  &__title {
    @include cardTitle();
  }

  &__price {
    @include cardPrice();
  }
}
