.subscription {
  margin-bottom: 32px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    max-width: 625px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: $text-dark-grey-color;
  }

  &__input {
    margin-bottom: 33px;
  }

  &__btn {
    padding: 15px 30px;
    margin-bottom: 15px;
  }

  @media (max-width: 1366px) {
    &__form-container {
      max-width: 405px;
    }

    &__desc {
      line-height: 132%;
    }
  }

  @media (max-width: 576px) {
    margin-bottom: 20px;

    &__wrapper {
      display: block;
    }

    &__form-container {
      max-width: none;
    }

    .input__text {
      font-size: 12px;
    }
  }
}
