.useful {
  &__list {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item_3,
  &__item_4,
  &__item_5 {
    display: none;
  }

  @media (max-width: 1366px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item_3 {
      display: block;
    }
  }

  @media (max-width: 992px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item_3 {
      display: none;
    }
  }

  @media (max-width: 576px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;
    }

    &__item_3,
    &__item_4,
    &__item_5 {
      display: block;
    }
  }

  .topic {
    @include card();
    padding-top: 455px;
    padding-bottom: 100px;
    min-height: 676px;
    background-position: top center;
    background-repeat: no-repeat;

    &__desc {
      margin: 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 130%;
      color: $text-dark-color;
    }

    &__btn {
      position: absolute;
      bottom: 30px;
      left: 30px;
    }

    @media (max-width: 1366px) {
      padding-top: 230px;
      min-height: 456px;
      background-size: 100% 200px;

      &__desc {
        font-size: 16px;
        line-height: 140%;
      }
    }

    @media (max-width: 576px) {
      padding-top: 230px;
    }
  }
}

.topic-decoration-1 {
  background-image: url('../img/home/useful/useful-1-lg.webp');
}

.topic-decoration-2 {
  background-image: url('../img/home/useful/useful-2-lg.webp');
}

@media (max-width: 1366px) {
  .topic-decoration-1 {
    background-image: url('../img/home/useful/useful-1-md.webp');
  }

  .topic-decoration-2 {
    background-image: url('../img/home/useful/useful-2-md.webp');
  }

  .topic-decoration-3 {
    background-image: url('../img/home/useful/useful-3-md.webp');
  }
}

@media (max-width: 992px) {
  .topic-decoration-1 {
    background-image: url('../img/home/useful/useful-1-sm.webp');
  }

  .topic-decoration-2 {
    background-image: url('../img/home/useful/useful-2-sm.webp');
  }
}

@media (max-width: 576px) {
  .topic-decoration-1 {
    background-image: url('../img/home/useful/useful-1-xs.webp');
  }

  .topic-decoration-2 {
    background-image: url('../img/home/useful/useful-2-xs.webp');
  }

  .topic-decoration-3 {
    background-image: url('../img/home/useful/useful-3-xs.webp');
  }

  .topic-decoration-4 {
    background-image: url('../img/home/useful/useful-4-xs.webp');
  }

  .topic-decoration-5 {
    background-image: url('../img/home/useful/useful-5-xs.webp');
  }
}
